In [1]:
import pandas as pd

# Import CSVs

In [2]:
# Save path to data set in a variable
#pre steps:
#remove all non-applicable columns from csvs, place in resources folder and put names here.

dkfile = "Resources/DKSalariesMainSlateWeek4.csv"
fdfile = "Resources/FanDuelMainSlateWeek4.csv"
draftfile = "Resources/FantasyDraftMainSlateWeek4.csv"

In [7]:
# import draftkings csv
dk_pd = pd.read_csv(dkfile)
dk_pd.head()

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,RB,Christian McCaffrey (13424744),Christian McCaffrey,13424744,RB/FLEX,8800,CAR@HOU 09/29/2019 01:00PM ET,CAR,28.00
1,RB,Saquon Barkley (13424746),Saquon Barkley,13424746,RB/FLEX,8500,WAS@NYG 09/29/2019 01:00PM ET,NYG,18.03
2,RB,Dalvin Cook (13424748),Dalvin Cook,13424748,RB/FLEX,8300,MIN@CHI 09/29/2019 04:25PM ET,MIN,29.13
3,RB,Austin Ekeler (13424750),Austin Ekeler,13424750,RB/FLEX,8000,LAC@MIA 09/29/2019 01:00PM ET,LAC,26.27
4,WR,Julio Jones (13424956),Julio Jones,13424956,WR/FLEX,7800,TEN@ATL 09/29/2019 01:00PM ET,ATL,25.17

In [4]:
# import fantasydraft csv
draft_pd = pd.read_csv(draftfile)
draft_pd.head()

,Position,Name,ID,Name+ID,Team,Game,Avg FPPG,Salary
0,QB,Patrick Mahomes,1644060,Patrick Mahomes (1644060),Chiefs,KC @ DET,32.26,"$14,400.00"
1,QB,Lamar Jackson,1644093,Lamar Jackson (1644093),Ravens,CLE @ BAL,30.57,"$12,900.00"
2,QB,Drew Brees,1644070,Drew Brees (1644070),Saints,DAL @ NO,12.66,"$12,900.00"
3,QB,Philip Rivers,1644078,Philip Rivers (1644078),Chargers,LAC @ MIA,21.15,"$12,800.00"
4,QB,Dak Prescott,1644051,Dak Prescott (1644051),Cowboys,DAL @ NO,29.53,"$12,100.00"

In [5]:
# #need to clean up fd csv first. it has 6b intro lines
fd_pd = pd.read_csv(fdfile, header=6)
fd_pd.head()

,Player ID + Player Name,Id,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Tier
0,38746-57439:Patrick Mahomes,38746-57439,QB,Patrick,Patrick Mahomes,Mahomes,28.933334,3,9200,KC@DET,KC,DET,NaN,NaN,NaN
1,38746-64401:Saquon Barkley,38746-64401,RB,Saquon,Saquon Barkley,Barkley,14.199999,3,9200,WAS@NYG,NYG,WAS,O,Ankle,NaN
2,38746-55050:Christian McCaffrey,38746-55050,RB,Christian,Christian McCaffrey,McCaffrey,23.500000,3,9000,CAR@HOU,CAR,HOU,NaN,NaN,NaN
3,38746-16606:DeAndre Hopkins,38746-16606,WR,DeAndre,DeAndre Hopkins,Hopkins,14.433333,3,8700,CAR@HOU,HOU,CAR,NaN,NaN,NaN
4,38746-14190:Julio Jones,38746-14190,WR,Julio,Julio Jones,Jones,20.000000,3,8500,TEN@ATL,ATL,TEN,NaN,NaN,NaN

# Clean Dataframes

### Draftkings Cleaning

In [8]:
# dk_pd.describe()
# dk_pd.columns
#clean up all column headers to enable dot notation
dk_pd.rename({'AvgPointsPerGame': 'ppg'}, axis=1, inplace=True)
dk_pd.head()

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,ppg
0,RB,Christian McCaffrey (13424744),Christian McCaffrey,13424744,RB/FLEX,8800,CAR@HOU 09/29/2019 01:00PM ET,CAR,28.00
1,RB,Saquon Barkley (13424746),Saquon Barkley,13424746,RB/FLEX,8500,WAS@NYG 09/29/2019 01:00PM ET,NYG,18.03
2,RB,Dalvin Cook (13424748),Dalvin Cook,13424748,RB/FLEX,8300,MIN@CHI 09/29/2019 04:25PM ET,MIN,29.13
3,RB,Austin Ekeler (13424750),Austin Ekeler,13424750,RB/FLEX,8000,LAC@MIA 09/29/2019 01:00PM ET,LAC,26.27
4,WR,Julio Jones (13424956),Julio Jones,13424956,WR/FLEX,7800,TEN@ATL 09/29/2019 01:00PM ET,ATL,25.17
5,WR,DeAndre Hopkins (13424958),DeAndre Hopkins,13424958,WR/FLEX,7700,CAR@HOU 09/29/2019 01:00PM ET,HOU,18.60
6,RB,Melvin Gordon III (13424752),Melvin Gordon III,13424752,RB/FLEX,7700,LAC@MIA 09/29/2019 01:00PM ET,LAC,0.00
7,WR,Keenan Allen (13424960),Keenan Allen,13424960,WR/FLEX,7600,LAC@MIA 09/29/2019 01:00PM ET,LAC,31.23
8,QB,Patrick Mahomes (13424686),Patrick Mahomes,13424686,QB,7500,KC@DET 09/29/2019 01:00PM ET,KC,32.27
9,WR,Odell Beckham Jr. (13424962),Odell Beckham Jr.,13424962,WR/FLEX,7300,CLE@BAL 09/29/2019 01:00PM ET,CLE,18.93
10,TE,Travis Kelce (13425246),Travis Kelce,13425246,TE/FLEX,7200,KC@DET 09/29/2019 01:00PM ET,KC,18.13
11,WR,Mike Evans (13424964),Mike Evans,13424964,WR/FLEX,7100,TB@LAR 09/29/2019 04:05PM ET,TB,20.97
12,WR,Tyreek Hill (13424966),Tyreek Hill,13424966,WR/FLEX,7000,KC@DET 09/29/2019 01:00PM ET,KC,4.10
13,RB,Todd Gurley II (13424754),Todd Gurley II,13424754,RB/FLEX,7000,TB@LAR 09/29/2019 04:05PM ET,LAR,10.37
14,QB,Lamar Jackson (13424687),Lamar Jackson,13424687,QB,6900,CLE@BAL 09/29/2019 01:00PM ET,BAL,30.57
15,RB,David Johnson (13424756),David Johnson,13424756,RB/FLEX,6800,SEA@ARI 09/29/2019 04:05PM ET,ARI,17.53
16,WR,Sammy Watkins (13424968),Sammy Watkins,13424968,WR/FLEX,6700,KC@DET 09/29/2019 01:00PM ET,KC,24.03
17,RB,Mark Ingram II (13424758),Mark Ingram II,13424758,RB/FLEX,6600,CLE@BAL 09/29/2019 01:00PM ET,BAL,24.63
18,QB,Tom Brady (13424688),Tom Brady,13424688,QB,6600,NE@BUF 09/29/2019 01:00PM ET,NE,25.48
19,WR,Adam Thielen (13424970),Adam Thielen,13424970,WR/FLEX,6600,MIN@CHI 09/29/2019 04:25PM ET,MIN,15.47
20,WR,Julian Edelman (13424972),Julian Edelman,13424972,WR/FLEX,6500,NE@BUF 09/29/2019 01:00PM ET,NE,14.93
21,WR,Cooper Kupp (13424974),Cooper Kupp,13424974,WR/FLEX,6500,TB@LAR 09/29/2019 04:05PM ET,LAR,22.80
22,RB,Nick Chubb (13424760),Nick Chubb,13424760,RB/FLEX,6400,CLE@BAL 09/29/2019 01:00PM ET,CLE,16.13
23,QB,Deshaun Watson (13424689),Deshaun Watson,13424689,QB,6400,CAR@HOU 09/29/2019 01:00PM ET,HOU,24.81
24,WR,T.Y. Hilton (13424976),T.Y. Hilton,13424976,WR/FLEX,6400,OAK@IND 09/29/2019 01:00PM ET,IND,21.17
25,RB,Derrick Henry (13424762),Derrick Henry,13424762,RB/FLEX,6300,TEN@ATL 09/29/2019 01:00PM ET,TEN,19.30
26,WR,Tyler Lockett (13424978),Tyler Lockett,13424978,WR/FLEX,6300,SEA@ARI 09/29/2019 04:05PM ET,SEA,21.57
27,QB,Jared Goff (13424690),Jared Goff,13424690,QB,6300,TB@LAR 09/29/2019 04:05PM ET,LAR,15.91
28,QB,Philip Rivers (13424691),Philip Rivers,13424691,QB,6200,LAC@MIA 09/29/2019 01:00PM ET,LAC,21.15
29,WR,Brandin Cooks (13424980),Brandin Cooks,13424980,WR/FLEX,6200,TB@LAR 09/29/2019 04:05PM ET,LAR,15.17
...,...,...,...,...,...,...,...,...,...
392,TE,Chris Manhertz (13425398),Chris Manhertz,13425398,TE/FLEX,2500,CAR@HOU 09/29/2019 01:00PM ET,CAR,0.00
393,TE,Jerell Adams (13425412),Jerell Adams,13425412,TE/FLEX,2500,CAR@HOU 09/29/2019 01:00PM ET,HOU,0.00
394,TE,Logan Paulsen (13425414),Logan Paulsen,13425414,TE/FLEX,2500,CAR@HOU 09/29/2019 01:00PM ET,HOU,0.00
395,TE,Mo Alie-Cox (13425378),Mo Alie-Cox,13425378,TE/FLEX,2500,OAK@IND 09/29/2019 01:00PM ET,IND,1.93
396,TE,Hale Hentges (13425380),Hale Hentges,13425380,TE/FLEX,2500,OAK@IND 09/29/2019 01:00PM ET,IND,0.00
397,TE,Foster Moreau (13425402),Foster Moreau,13425402,TE/FLEX,2500,OAK@IND 09/29/2019 01:00PM ET,OAK,1.70
398,TE,Derek Carrier (13425404),Derek Carrier,13425404,TE/FLEX,2500,OAK@IND 09/29/2019 01:00PM ET,OAK,2.10
399,TE,Sean Culkin (13425370),Sean Culkin,13425370,TE/FLEX,2500,LAC@MIA 09/29/2019 01:00PM ET,LAC,0.00
400,TE,Nick O'Leary (13425382),Nick O'Leary,13425382,TE/FLEX,2500,LAC@MIA 09/29/2019 01:00PM ET,MIA,1.50
401,TE,Garrett Dickerson (13425388),Garrett Dickerson,13425388,TE/FLEX,2500,WAS@NYG 09/29/2019 01:00PM ET,NYG,0.00
402,TE,Eric Tomlinson (13425390),Eric Tomlinson,13425390,TE/FLEX,2500,WAS@NYG 09/29/2019 01:00PM ET,NYG,0.00
403,TE,Jeremy Sprinkle (13425408),Jeremy Sprinkle,13425408,TE/FLEX,2500,WAS@NYG 09/29/2019 01:00PM ET,WAS,2.60
404,TE,Maxx Williams (13425368),Maxx Williams,13425368,TE/FLEX,2500,SEA@ARI 09/29/2019 04:05PM ET,ARI,1.87
405,TE,Tyler Ott (13425410),Tyler Ott,13425410,TE/FLEX,2500,SEA@ARI 09/29/2019 04:05PM ET,SEA,0.00
406,TE,Antony Auclair (13425364),Antony Auclair,13425364,TE/FLEX,2500,TB@LAR 09/29/2019 04:05PM ET,TB,0.00
407,TE,Tanner Hudson (13425366),Tanner Hudson,13425366,TE/FLEX,2500,TB@LAR 09/29/2019 04:05PM ET,TB,0.00
408,TE,Johnny Mundt (13425406),Johnny Mundt,13425406,TE/FLEX,2500,TB@LAR 09/29/2019 04:05PM ET,LAR,0.00
409,TE,Bradley Sowell (13425344),Bradley Sowell,13425344,TE/FLEX,2500,MIN@CHI 09/29/2019 04:25PM ET,CHI,0.00
410,TE,J.P. Holtz (13425346),J.P. Holtz,13425346,TE/FLEX,2500,MIN@CHI 09/29/2019 04:25PM ET,CHI,0.00
411,TE,Patrick Scales (13425348),Patrick Scales,13425348,TE/FLEX,2500,MIN@CHI 09/29/2019 04:25PM ET,CHI,0.00
412,TE,Tyler Conklin (13425422),Tyler Conklin,13425422,TE/FLEX,2500,MIN@CHI 09/29/2019 04:25PM ET,MIN,0.00
413,TE,Troy Fumagalli (13425354),Troy Fumagalli,13425354,TE/FLEX,2500,JAX@DEN 09/29/2019 04:25PM ET,DEN,0.57
414,TE,Andrew Beck (13425356),Andrew Beck,13425356,TE/FLEX,2500,JAX@DEN 09/29/2019 04:25PM ET,DEN,0.00
415,TE,Seth DeValve (13425392),Seth DeValve,13425392,TE/FLEX,2500,JAX@DEN 09/29/2019 04:25PM ET,JAX,0.00
416,TE,Matt Orzech (13425394),Matt Orzech,13425394,TE/FLEX,2500,JAX@DEN 09/29/2019 04:25PM ET,JAX,0.00
417,DST,Cardinals (13425444),Cardinals,13425444,DST,2400,SEA@ARI 09/29/2019 04:05PM ET,ARI,3.00
418,DST,Panthers (13425443),Panthers,13425443,DST,2300,CAR@HOU 09/29/2019 01:00PM ET,CAR,7.67
419,DST,Lions (13425445),Lions,13425445,DST,2200,KC@DET 09/29/2019 01:00PM ET,DET,9.67
420,DST,Buccaneers (13425446),Buccaneers,13425446,DST,2100,TB@LAR 09/29/2019 04:05PM ET,TB,9.67
421,DST,Dolphins (13425447),Dolphins,13425447,DST,2000,LAC@MIA 09/29/2019 01:00PM ET,MIA,0.67

In [9]:
dk_pd.columns = dk_pd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

# strip column that we will be using for joining
dk_pd.loc[:,'name'] = dk_pd.name.str.strip()

# add dk suffix
dk_pd = dk_pd.add_suffix('_dk')
dk_pd.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk
0,RB,Christian McCaffrey (13424744),Christian McCaffrey,13424744,RB/FLEX,8800,CAR@HOU 09/29/2019 01:00PM ET,CAR,28.00
1,RB,Saquon Barkley (13424746),Saquon Barkley,13424746,RB/FLEX,8500,WAS@NYG 09/29/2019 01:00PM ET,NYG,18.03
2,RB,Dalvin Cook (13424748),Dalvin Cook,13424748,RB/FLEX,8300,MIN@CHI 09/29/2019 04:25PM ET,MIN,29.13
3,RB,Austin Ekeler (13424750),Austin Ekeler,13424750,RB/FLEX,8000,LAC@MIA 09/29/2019 01:00PM ET,LAC,26.27
4,WR,Julio Jones (13424956),Julio Jones,13424956,WR/FLEX,7800,TEN@ATL 09/29/2019 01:00PM ET,ATL,25.17

### FantasyDraft Cleaning

In [10]:
#clean up all column headers to enable dot notation
draft_pd.columns = draft_pd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

#add suffix
draft_pd = draft_pd.add_suffix('_draft')
draft_pd.head()

,position_draft,name_draft,id_draft,name+id_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
0,QB,Patrick Mahomes,1644060,Patrick Mahomes (1644060),Chiefs,KC @ DET,32.26,"$14,400.00"
1,QB,Lamar Jackson,1644093,Lamar Jackson (1644093),Ravens,CLE @ BAL,30.57,"$12,900.00"
2,QB,Drew Brees,1644070,Drew Brees (1644070),Saints,DAL @ NO,12.66,"$12,900.00"
3,QB,Philip Rivers,1644078,Philip Rivers (1644078),Chargers,LAC @ MIA,21.15,"$12,800.00"
4,QB,Dak Prescott,1644051,Dak Prescott (1644051),Cowboys,DAL @ NO,29.53,"$12,100.00"

In [11]:
# defense before cleaning
draft_pd[draft_pd.position_draft == 'DST'].head()

,position_draft,name_draft,id_draft,name+id_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
470,DST,Los Angeles Chargers,1644530,Los Angeles Chargers (1644530),Chargers,LAC @ MIA,4.66,"$7,100.00"
471,DST,Baltimore Ravens,1644536,Baltimore Ravens (1644536),Ravens,CLE @ BAL,5.66,"$6,800.00"
472,DST,Los Angeles Rams,1644523,Los Angeles Rams (1644523),Rams,TB @ LAR,8.66,"$6,700.00"
473,DST,Jacksonville Jaguars,1644535,Jacksonville Jaguars (1644535),Jaguars,JAX @ DEN,6.33,"$6,700.00"
474,DST,New England Patriots,1644526,New England Patriots (1644526),Patriots,NE @ BUF,20.33,"$6,400.00"

In [12]:
# if DST, replace name with team name
draft_pd.loc[draft_pd.position_draft == 'DST', 'name_draft'] = draft_pd['team_draft']
draft_pd[draft_pd.position_draft == 'DST'].head()

,position_draft,name_draft,id_draft,name+id_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
470,DST,Chargers,1644530,Los Angeles Chargers (1644530),Chargers,LAC @ MIA,4.66,"$7,100.00"
471,DST,Ravens,1644536,Baltimore Ravens (1644536),Ravens,CLE @ BAL,5.66,"$6,800.00"
472,DST,Rams,1644523,Los Angeles Rams (1644523),Rams,TB @ LAR,8.66,"$6,700.00"
473,DST,Jaguars,1644535,Jacksonville Jaguars (1644535),Jaguars,JAX @ DEN,6.33,"$6,700.00"
474,DST,Patriots,1644526,New England Patriots (1644526),Patriots,NE @ BUF,20.33,"$6,400.00"

In [13]:
# strip name column in preparation for joining
draft_pd.loc[:,'name_draft'] = draft_pd.name_draft.str.strip()
draft_pd.head()

,position_draft,name_draft,id_draft,name+id_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
0,QB,Patrick Mahomes,1644060,Patrick Mahomes (1644060),Chiefs,KC @ DET,32.26,"$14,400.00"
1,QB,Lamar Jackson,1644093,Lamar Jackson (1644093),Ravens,CLE @ BAL,30.57,"$12,900.00"
2,QB,Drew Brees,1644070,Drew Brees (1644070),Saints,DAL @ NO,12.66,"$12,900.00"
3,QB,Philip Rivers,1644078,Philip Rivers (1644078),Chargers,LAC @ MIA,21.15,"$12,800.00"
4,QB,Dak Prescott,1644051,Dak Prescott (1644051),Cowboys,DAL @ NO,29.53,"$12,100.00"

In [14]:
# # test to see if positions merge properly on their own (depends on columns cleaning)
# test_dk = dk_pd[dk_pd.position_dk == 'DST']
# # test_dk.loc[:,'name_dk'] = test_dk.name_dk.str.strip()

# test_dk
# test_draft = draft_pd[draft_pd.position_draft == 'DST']
# test_draft.head()
# # test_draft.loc[:,'name_draft'] = test_draft.name_draft.str.strip().str.lower()
# # test_draft.loc[:,'name_draft'] = test_draft.name_draft.str.strip()

# test_draft.head()
# test_merge = pd.merge(test_dk, test_draft, 'outer', left_on ='name_dk', right_on = 'name_draft')
# test_merge.head()

In [15]:
# function for cleaning up currency columns
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    if input not string, return input
    """
    if isinstance(val, str):
        new_val = val.replace(',','').replace('$', '')
        return float(new_val)
    else:
        return val

In [16]:
draft_pd['salary_draft'] = draft_pd['salary_draft']
# strip currency from salary_draft
draft_pd['salary_draft'] = draft_pd['salary_draft'].apply(convert_currency)
draft_pd.dtypes

position_draft     object
name_draft         object
id_draft            int64
name+id_draft      object
team_draft         object
game_draft         object
avg_fppg_draft    float64
salary_draft      float64
dtype: object

### Fanduel Cleaning

In [17]:

# fd_pd.rename(columns={'Nickname':'Name'}, inplace=True)
#clean up all column headers to enable dot notation
fd_pd.columns = fd_pd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

fd_pd = fd_pd.add_suffix('_fd')
fd_pd.head()

,player_id_+_player_name_fd,id_fd,position_fd,first_name_fd,nickname_fd,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
0,38746-57439:Patrick Mahomes,38746-57439,QB,Patrick,Patrick Mahomes,Mahomes,28.933334,3,9200,KC@DET,KC,DET,NaN,NaN,NaN
1,38746-64401:Saquon Barkley,38746-64401,RB,Saquon,Saquon Barkley,Barkley,14.199999,3,9200,WAS@NYG,NYG,WAS,O,Ankle,NaN
2,38746-55050:Christian McCaffrey,38746-55050,RB,Christian,Christian McCaffrey,McCaffrey,23.500000,3,9000,CAR@HOU,CAR,HOU,NaN,NaN,NaN
3,38746-16606:DeAndre Hopkins,38746-16606,WR,DeAndre,DeAndre Hopkins,Hopkins,14.433333,3,8700,CAR@HOU,HOU,CAR,NaN,NaN,NaN
4,38746-14190:Julio Jones,38746-14190,WR,Julio,Julio Jones,Jones,20.000000,3,8500,TEN@ATL,ATL,TEN,NaN,NaN,NaN

In [18]:
# clean defense team names
# fd_pd[fd_pd.position_fd == 'D']
fd_pd.loc[fd_pd.position_fd == 'D', 'nickname_fd'] = fd_pd['last_name_fd']
fd_pd[fd_pd.position_fd == 'D'].head()

,player_id_+_player_name_fd,id_fd,position_fd,first_name_fd,nickname_fd,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
165,38746-12548:Los Angeles Chargers,38746-12548,D,Los Angeles,Chargers,Chargers,4.666667,3,5300,LAC@MIA,LAC,MIA,NaN,NaN,NaN
203,38746-12541:New England Patriots,38746-12541,D,New England,Patriots,Patriots,20.333333,3,4800,NE@BUF,NE,BUF,NaN,NaN,NaN
217,38746-12527:Chicago Bears,38746-12527,D,Chicago,Bears,Bears,11.666667,3,4700,MIN@CHI,CHI,MIN,NaN,NaN,NaN
218,38746-12554:Jacksonville Jaguars,38746-12554,D,Jacksonville,Jaguars,Jaguars,6.333333,3,4700,JAC@DEN,JAC,DEN,NaN,NaN,NaN
423,38746-12556:Houston Texans,38746-12556,D,Houston,Texans,Texans,6.666667,3,4400,CAR@HOU,HOU,CAR,NaN,NaN,NaN

In [19]:
# strip name column in preparation for joining
fd_pd.loc[:,'nickname_fd'] = fd_pd.nickname_fd.str.strip()
fd_pd.head()

,player_id_+_player_name_fd,id_fd,position_fd,first_name_fd,nickname_fd,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
0,38746-57439:Patrick Mahomes,38746-57439,QB,Patrick,Patrick Mahomes,Mahomes,28.933334,3,9200,KC@DET,KC,DET,NaN,NaN,NaN
1,38746-64401:Saquon Barkley,38746-64401,RB,Saquon,Saquon Barkley,Barkley,14.199999,3,9200,WAS@NYG,NYG,WAS,O,Ankle,NaN
2,38746-55050:Christian McCaffrey,38746-55050,RB,Christian,Christian McCaffrey,McCaffrey,23.500000,3,9000,CAR@HOU,CAR,HOU,NaN,NaN,NaN
3,38746-16606:DeAndre Hopkins,38746-16606,WR,DeAndre,DeAndre Hopkins,Hopkins,14.433333,3,8700,CAR@HOU,HOU,CAR,NaN,NaN,NaN
4,38746-14190:Julio Jones,38746-14190,WR,Julio,Julio Jones,Jones,20.000000,3,8500,TEN@ATL,ATL,TEN,NaN,NaN,NaN

In [20]:
#clean up columns
fd_pd.played_fd = pd.to_numeric(fd_pd.played_fd, errors='coerce').fillna(0).astype('int64')

In [21]:
fd_pd.fppg_fd = round(fd_pd.fppg_fd, 1)
fd_pd.head()

,player_id_+_player_name_fd,id_fd,position_fd,first_name_fd,nickname_fd,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
0,38746-57439:Patrick Mahomes,38746-57439,QB,Patrick,Patrick Mahomes,Mahomes,28.9,3,9200,KC@DET,KC,DET,NaN,NaN,NaN
1,38746-64401:Saquon Barkley,38746-64401,RB,Saquon,Saquon Barkley,Barkley,14.2,3,9200,WAS@NYG,NYG,WAS,O,Ankle,NaN
2,38746-55050:Christian McCaffrey,38746-55050,RB,Christian,Christian McCaffrey,McCaffrey,23.5,3,9000,CAR@HOU,CAR,HOU,NaN,NaN,NaN
3,38746-16606:DeAndre Hopkins,38746-16606,WR,DeAndre,DeAndre Hopkins,Hopkins,14.4,3,8700,CAR@HOU,HOU,CAR,NaN,NaN,NaN
4,38746-14190:Julio Jones,38746-14190,WR,Julio,Julio Jones,Jones,20.0,3,8500,TEN@ATL,ATL,TEN,NaN,NaN,NaN

In [22]:
# print(len(dk_pd))
# print(len(draft_pd))
# print(len(fd_pd))
# dk_

# Joining CSVs

In [23]:
# join dk and draft
dk_draft = pd.merge(dk_pd, draft_pd, 'outer', left_on ='name_dk', right_on = 'name_draft')
dk_draft.tail()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk,position_draft,name_draft,id_draft,name+id_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TE,Marcus Lucas,1644473,Marcus Lucas (1644473),Cowboys,DAL @ NO,0.00,5000.0
492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TE,Michael Hoomanawanui,1644461,Michael Hoomanawanui (1644461),Saints,DAL @ NO,0.00,5000.0
493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TE,Shane Smith,1644511,Shane Smith (1644511),Saints,DAL @ NO,0.00,5000.0
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DST,Cowboys,1644516,Dallas Cowboys (1644516),Cowboys,DAL @ NO,6.33,5700.0
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DST,Saints,1644527,New Orleans Saints (1644527),Saints,DAL @ NO,8.66,5600.0

In [24]:
# print(len(dk_draft))
# dk_draft.dtypes
# dk_draft.to_csv("test1.csv")

In [25]:
#if name_dk is blank, fill with values from name_draft

# dk_draft.loc[:,'name_dk'] = dk_draft['name_dk'].fillna(dk_draft['name_draft'])
dk_draft['name_dk'].fillna(dk_draft['name_draft'], inplace = True)

dk_draft.tail()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk,position_draft,name_draft,id_draft,name+id_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
491,NaN,NaN,Marcus Lucas,NaN,NaN,NaN,NaN,NaN,NaN,TE,Marcus Lucas,1644473,Marcus Lucas (1644473),Cowboys,DAL @ NO,0.00,5000.0
492,NaN,NaN,Michael Hoomanawanui,NaN,NaN,NaN,NaN,NaN,NaN,TE,Michael Hoomanawanui,1644461,Michael Hoomanawanui (1644461),Saints,DAL @ NO,0.00,5000.0
493,NaN,NaN,Shane Smith,NaN,NaN,NaN,NaN,NaN,NaN,TE,Shane Smith,1644511,Shane Smith (1644511),Saints,DAL @ NO,0.00,5000.0
494,NaN,NaN,Cowboys,NaN,NaN,NaN,NaN,NaN,NaN,DST,Cowboys,1644516,Dallas Cowboys (1644516),Cowboys,DAL @ NO,6.33,5700.0
495,NaN,NaN,Saints,NaN,NaN,NaN,NaN,NaN,NaN,DST,Saints,1644527,New Orleans Saints (1644527),Saints,DAL @ NO,8.66,5600.0

In [26]:
len(dk_draft)

496

In [27]:
#join fanduel to dk and draft
all_pd = pd.merge(dk_draft, fd_pd, 'outer',left_on = 'name_dk', right_on = 'nickname_fd')
all_pd.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk,position_draft,...,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
0,RB,Christian McCaffrey (13424744),Christian McCaffrey,13424744.0,RB/FLEX,8800.0,CAR@HOU 09/29/2019 01:00PM ET,CAR,28.00,RB,...,McCaffrey,23.5,3.0,9000.0,CAR@HOU,CAR,HOU,NaN,NaN,NaN
1,RB,Saquon Barkley (13424746),Saquon Barkley,13424746.0,RB/FLEX,8500.0,WAS@NYG 09/29/2019 01:00PM ET,NYG,18.03,RB,...,Barkley,14.2,3.0,9200.0,WAS@NYG,NYG,WAS,O,Ankle,NaN
2,RB,Dalvin Cook (13424748),Dalvin Cook,13424748.0,RB/FLEX,8300.0,MIN@CHI 09/29/2019 04:25PM ET,MIN,29.13,RB,...,Cook,24.6,3.0,8300.0,MIN@CHI,MIN,CHI,NaN,NaN,NaN
3,RB,Austin Ekeler (13424750),Austin Ekeler,13424750.0,RB/FLEX,8000.0,LAC@MIA 09/29/2019 01:00PM ET,LAC,26.27,RB,...,Ekeler,22.8,3.0,8100.0,LAC@MIA,LAC,MIA,NaN,NaN,NaN
4,WR,Julio Jones (13424956),Julio Jones,13424956.0,WR/FLEX,7800.0,TEN@ATL 09/29/2019 01:00PM ET,ATL,25.17,WR,...,Jones,20.0,3.0,8500.0,TEN@ATL,ATL,TEN,NaN,NaN,NaN

In [28]:
all_pd.tail()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk,position_draft,...,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Butt,4.2,3.0,4000.0,JAC@DEN,DEN,JAC,IR,Knee,NaN
597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Leggett,1.9,13.0,4000.0,TB@LAR,TB,LAR,NaN,NaN,NaN
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Becker,0.0,0.0,4000.0,NE@BUF,BUF,NE,NaN,NaN,NaN
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sokol,0.0,0.0,4000.0,LAC@MIA,LAC,MIA,NaN,NaN,NaN
600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Horsted,0.0,0.0,4000.0,MIN@CHI,CHI,MIN,NaN,NaN,NaN

In [29]:
#if name_dk is blank, fill with values from name_draft

# dk_draft.loc[:,'name_dk'] = dk_draft['name_dk'].fillna(dk_draft['name_draft'])
all_pd['name_dk'].fillna(all_pd['nickname_fd'], inplace = True)
all_pd.tail()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk,position_draft,...,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
596,NaN,NaN,Jake Butt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Butt,4.2,3.0,4000.0,JAC@DEN,DEN,JAC,IR,Knee,NaN
597,NaN,NaN,Jordan Leggett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Leggett,1.9,13.0,4000.0,TB@LAR,TB,LAR,NaN,NaN,NaN
598,NaN,NaN,Nate Becker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Becker,0.0,0.0,4000.0,NE@BUF,BUF,NE,NaN,NaN,NaN
599,NaN,NaN,Matt Sokol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sokol,0.0,0.0,4000.0,LAC@MIA,LAC,MIA,NaN,NaN,NaN
600,NaN,NaN,Jesper Horsted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Horsted,0.0,0.0,4000.0,MIN@CHI,CHI,MIN,NaN,NaN,NaN

In [30]:
# all_pd.salary_draft.unique()

In [31]:
# get median games played to set weeks value
median_games_played = all_pd.played_fd.median()
median_games_played

3.0

In [32]:
current_week = int(median_games_played) + 1
current_week

4

In [33]:
all_pd['week'] = current_week
all_pd.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,ppg_dk,position_draft,...,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd,week
0,RB,Christian McCaffrey (13424744),Christian McCaffrey,13424744.0,RB/FLEX,8800.0,CAR@HOU 09/29/2019 01:00PM ET,CAR,28.00,RB,...,23.5,3.0,9000.0,CAR@HOU,CAR,HOU,NaN,NaN,NaN,4
1,RB,Saquon Barkley (13424746),Saquon Barkley,13424746.0,RB/FLEX,8500.0,WAS@NYG 09/29/2019 01:00PM ET,NYG,18.03,RB,...,14.2,3.0,9200.0,WAS@NYG,NYG,WAS,O,Ankle,NaN,4
2,RB,Dalvin Cook (13424748),Dalvin Cook,13424748.0,RB/FLEX,8300.0,MIN@CHI 09/29/2019 04:25PM ET,MIN,29.13,RB,...,24.6,3.0,8300.0,MIN@CHI,MIN,CHI,NaN,NaN,NaN,4
3,RB,Austin Ekeler (13424750),Austin Ekeler,13424750.0,RB/FLEX,8000.0,LAC@MIA 09/29/2019 01:00PM ET,LAC,26.27,RB,...,22.8,3.0,8100.0,LAC@MIA,LAC,MIA,NaN,NaN,NaN,4
4,WR,Julio Jones (13424956),Julio Jones,13424956.0,WR/FLEX,7800.0,TEN@ATL 09/29/2019 01:00PM ET,ATL,25.17,WR,...,20.0,3.0,8500.0,TEN@ATL,ATL,TEN,NaN,NaN,NaN,4

In [34]:
all_pd.columns

Index(['position_dk', 'name_+_id_dk', 'name_dk', 'id_dk', 'roster_position_dk',
       'salary_dk', 'game_info_dk', 'teamabbrev_dk', 'ppg_dk',
       'position_draft', 'name_draft', 'id_draft', 'name+id_draft',
       'team_draft', 'game_draft', 'avg_fppg_draft', 'salary_draft',
       'player_id_+_player_name_fd', 'id_fd', 'position_fd', 'first_name_fd',
       'nickname_fd', 'last_name_fd', 'fppg_fd', 'played_fd', 'salary_fd',
       'game_fd', 'team_fd', 'opponent_fd', 'injury_indicator_fd',
       'injury_details_fd', 'tier_fd', 'week'],
      dtype='object')

In [36]:
all_cut = all_pd[['name_dk', 'position_dk','team_draft', 'opponent_fd','salary_dk', 'salary_draft', 'salary_fd', 'avg_fppg_draft', 'ppg_dk', 'fppg_fd' ]]
all_cut.head()

,name_dk,position_dk,team_draft,opponent_fd,salary_dk,salary_draft,salary_fd,avg_fppg_draft,ppg_dk,fppg_fd
0,Christian McCaffrey,RB,Panthers,HOU,8800.0,17700.0,9000.0,28.00,28.00,23.5
1,Saquon Barkley,RB,Giants,WAS,8500.0,16000.0,9200.0,18.03,18.03,14.2
2,Dalvin Cook,RB,Vikings,CHI,8300.0,15600.0,8300.0,29.13,29.13,24.6
3,Austin Ekeler,RB,Chargers,MIA,8000.0,15100.0,8100.0,26.26,26.27,22.8
4,Julio Jones,WR,Falcons,TEN,7800.0,14600.0,8500.0,25.16,25.17,20.0

In [37]:
all_cut.rename({'avg_fppg_draft': 'ppg_draft', 'fppg_fd':'ppg_fd'}, axis=1, inplace=True)

C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [38]:
all_cut.head()

,name_dk,position_dk,team_draft,opponent_fd,salary_dk,salary_draft,salary_fd,ppg_draft,ppg_dk,ppg_fd
0,Christian McCaffrey,RB,Panthers,HOU,8800.0,17700.0,9000.0,28.00,28.00,23.5
1,Saquon Barkley,RB,Giants,WAS,8500.0,16000.0,9200.0,18.03,18.03,14.2
2,Dalvin Cook,RB,Vikings,CHI,8300.0,15600.0,8300.0,29.13,29.13,24.6
3,Austin Ekeler,RB,Chargers,MIA,8000.0,15100.0,8100.0,26.26,26.27,22.8
4,Julio Jones,WR,Falcons,TEN,7800.0,14600.0,8500.0,25.16,25.17,20.0

In [39]:
all_cut['fd-dk'] = all_cut.salary_fd - all_cut.salary_dk
all_cut['draft-dk'] = all_cut.salary_draft - all_cut.salary_dk
all_cut['draft-fd'] = all_cut.salary_draft - all_cut.salary_fd
all_cut['fd_adj'] = round(all_cut.salary_fd * .8333333333 )
all_cut['draft_adj'] = all_cut.salary_draft * .5
all_cut['adj_fd-dk'] = all_cut.fd_adj - all_cut.salary_dk
all_cut['adj_draft-dk'] = all_cut.draft_adj - all_cut.salary_dk
all_cut['ppg_diff'] = all_cut.ppg_dk - all_cut.ppg_fd


all_cut.head()

C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\jhouser\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name_dk,position_dk,team_draft,opponent_fd,salary_dk,salary_draft,salary_fd,ppg_draft,ppg_dk,ppg_fd,fd-dk,draft-dk,draft-fd,fd_adj,draft_adj,adj_fd-dk,adj_draft-dk,ppg_diff
0,Christian McCaffrey,RB,Panthers,HOU,8800.0,17700.0,9000.0,28.00,28.00,23.5,200.0,8900.0,8700.0,7500.0,8850.0,-1300.0,50.0,4.50
1,Saquon Barkley,RB,Giants,WAS,8500.0,16000.0,9200.0,18.03,18.03,14.2,700.0,7500.0,6800.0,7667.0,8000.0,-833.0,-500.0,3.83
2,Dalvin Cook,RB,Vikings,CHI,8300.0,15600.0,8300.0,29.13,29.13,24.6,0.0,7300.0,7300.0,6917.0,7800.0,-1383.0,-500.0,4.53
3,Austin Ekeler,RB,Chargers,MIA,8000.0,15100.0,8100.0,26.26,26.27,22.8,100.0,7100.0,7000.0,6750.0,7550.0,-1250.0,-450.0,3.47
4,Julio Jones,WR,Falcons,TEN,7800.0,14600.0,8500.0,25.16,25.17,20.0,700.0,6800.0,6100.0,7083.0,7300.0,-717.0,-500.0,5.17

In [40]:
all_cut.columns.tolist()

['name_dk',
 'position_dk',
 'team_draft',
 'opponent_fd',
 'salary_dk',
 'salary_draft',
 'salary_fd',
 'ppg_draft',
 'ppg_dk',
 'ppg_fd',
 'fd-dk',
 'draft-dk',
 'draft-fd',
 'fd_adj',
 'draft_adj',
 'adj_fd-dk',
 'adj_draft-dk',
 'ppg_diff']

In [43]:
# reorder columns
new_columns = ['name_dk',
 'position_dk',
 'team_draft',
 'opponent_fd',
 'salary_dk',
  'salary_fd',
 'salary_draft',
 'fd_adj',
  'draft_adj',
  'adj_fd-dk',
 'adj_draft-dk',
  'fd-dk',
 'draft-dk',
 'draft-fd',
 'ppg_draft',
 'ppg_dk',
 'ppg_fd', 
 'ppg_diff'
 ]

In [44]:
all_cut = all_cut[new_columns]
all_cut.head()

,name_dk,position_dk,team_draft,opponent_fd,salary_dk,salary_fd,salary_draft,fd_adj,draft_adj,adj_fd-dk,adj_draft-dk,fd-dk,draft-dk,draft-fd,ppg_draft,ppg_dk,ppg_fd,ppg_diff
0,Christian McCaffrey,RB,Panthers,HOU,8800.0,9000.0,17700.0,7500.0,8850.0,-1300.0,50.0,200.0,8900.0,8700.0,28.00,28.00,23.5,4.50
1,Saquon Barkley,RB,Giants,WAS,8500.0,9200.0,16000.0,7667.0,8000.0,-833.0,-500.0,700.0,7500.0,6800.0,18.03,18.03,14.2,3.83
2,Dalvin Cook,RB,Vikings,CHI,8300.0,8300.0,15600.0,6917.0,7800.0,-1383.0,-500.0,0.0,7300.0,7300.0,29.13,29.13,24.6,4.53
3,Austin Ekeler,RB,Chargers,MIA,8000.0,8100.0,15100.0,6750.0,7550.0,-1250.0,-450.0,100.0,7100.0,7000.0,26.26,26.27,22.8,3.47
4,Julio Jones,WR,Falcons,TEN,7800.0,8500.0,14600.0,7083.0,7300.0,-717.0,-500.0,700.0,6800.0,6100.0,25.16,25.17,20.0,5.17

In [45]:
# all_pd.columns = [ str(col) + '_wk2' if 'salary' in col else col for col in all_pd.columns ] #only add wk suffix to salaries
all_cut.columns = [ str(col) + '_wk' + str(current_week) for col in all_cut.columns ]

all_cut.columns

Index(['name_dk_wk4', 'position_dk_wk4', 'team_draft_wk4', 'opponent_fd_wk4',
       'salary_dk_wk4', 'salary_fd_wk4', 'salary_draft_wk4', 'fd_adj_wk4',
       'draft_adj_wk4', 'adj_fd-dk_wk4', 'adj_draft-dk_wk4', 'fd-dk_wk4',
       'draft-dk_wk4', 'draft-fd_wk4', 'ppg_draft_wk4', 'ppg_dk_wk4',
       'ppg_fd_wk4', 'ppg_diff_wk4'],
      dtype='object')

In [46]:
csv_name = f'week_{current_week}_combined.csv'
csv_name

'week_4_combined.csv'

In [47]:
all_cut.to_csv(csv_name)

Next steps:
Add flask app (could save this for later)
Save Data to database (could save this step for later)
Decide on format for data in database (one table per week, new columns for each week)
Add html template
Create grid (bootstrap, D3?)