In [1]:
import pandas as pd

In [6]:
# Save path to data set in a variable
dkfile = "Resources/DKSalaries.csv"
fdfile = "Resources/FanduelSalaries.csv"
draftfile = "Resources/FantasyDraftSalaries.csv"

In [8]:
dk_pd = pd.read_csv(dkfile)

dk_pd.head()

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,RB,Saquon Barkley (13304263),Saquon Barkley,13304263,RB/FLEX,9200,BUF@NYG 09/15/2019 01:00PM ET,NYG,20.9
1,RB,Ezekiel Elliott (13304265),Ezekiel Elliott,13304265,RB/FLEX,8700,DAL@WAS 09/15/2019 01:00PM ET,DAL,13.3
2,RB,Alvin Kamara (13304267),Alvin Kamara,13304267,RB/FLEX,8200,NO@LAR 09/15/2019 04:25PM ET,NO,23.9
3,WR,DeAndre Hopkins (13304491),DeAndre Hopkins,13304491,WR/FLEX,8100,JAX@HOU 09/15/2019 01:00PM ET,HOU,34.1
4,WR,Michael Thomas (13304493),Michael Thomas,13304493,WR/FLEX,8000,NO@LAR 09/15/2019 04:25PM ET,NO,25.3

In [4]:
dk_pd.describe()

                 ID       Salary  AvgPointsPerGame
count  4.570000e+02   457.000000        457.000000
mean   1.330460e+07  3812.691466          6.231247
std    2.561508e+02  1331.769689          9.103444
min    1.330420e+07  2000.000000         -4.000000
25%    1.330436e+07  3000.000000          0.000000
50%    1.330459e+07  3200.000000          1.700000
75%    1.330482e+07  4300.000000         10.000000
max    1.330502e+07  9200.000000         49.800000

In [10]:
draft_pd = pd.read_csv(draftfile)
draft_pd

    Position                 Name       Team       Game   Avg FPPG      Salary
0         RB          Gus Edwards     Ravens  ARI @ BAL       8.98   $6,800.00
1         WR          Chris Moore     Ravens  ARI @ BAL       2.89   $6,000.00
2         TE           Nick Boyle     Ravens  ARI @ BAL       2.76   $5,000.00
3         TE         Hayden Hurst     Ravens  ARI @ BAL       2.94   $5,700.00
4         TE         Mark Andrews     Ravens  ARI @ BAL       6.70   $8,200.00
5         RB       Patrick Ricard     Ravens  ARI @ BAL       0.00   $6,000.00
6         QB   Robert Griffin III     Ravens  ARI @ BAL       0.28  $10,000.00
7         WR         Seth Roberts     Ravens  ARI @ BAL       7.12   $6,000.00
8         QB       Trace McSorley     Ravens  ARI @ BAL       0.00  $10,000.00
9         WR       Marquise Brown     Ravens  ARI @ BAL       0.00   $9,400.00
10       DST     Baltimore Ravens     Ravens  ARI @ BAL       8.05   $6,500.00
11        RB       Mark Ingram II     Ravens  ARI @ BAL      12.45  $11,500.00
12        WR         Miles Boykin     Ravens  ARI @ BAL       0.00   $6,300.00
13        WR         Jaleel Scott     Ravens  ARI @ BAL       0.00   $6,000.00
14        QB        Lamar Jackson     Ravens  ARI @ BAL      10.47  $13,100.00
15        WR      Willie Snead IV     Ravens  ARI @ BAL       8.40   $8,800.00
16        RB         Justice Hill     Ravens  ARI @ BAL       0.00   $6,400.00
17        WR      Trent Sherfield  Cardinals  ARI @ BAL       3.53   $6,000.00
18        WR         Damiere Byrd  Cardinals  ARI @ BAL       0.22   $6,000.00
19        TE        Maxx Williams  Cardinals  ARI @ BAL       2.85   $5,000.00
20        QB        Brett Hundley  Cardinals  ARI @ BAL       0.00  $10,000.00
21        TE         Charles Clay  Cardinals  ARI @ BAL       2.95   $5,000.00
22        WR     Michael Crabtree  Cardinals  ARI @ BAL       8.29   $6,400.00
23        TE      Darrell Daniels  Cardinals  ARI @ BAL       0.00   $5,000.00
24        QB         Kyler Murray  Cardinals  ARI @ BAL       0.00  $10,200.00
25        WR       Christian Kirk  Cardinals  ARI @ BAL      10.29   $9,300.00
26        WR     Larry Fitzgerald  Cardinals  ARI @ BAL      11.79   $9,100.00
27        RB        Chase Edmonds  Cardinals  ARI @ BAL       3.94   $6,300.00
28        RB        David Johnson  Cardinals  ARI @ BAL      15.72  $12,900.00
29       DST    Arizona Cardinals  Cardinals  ARI @ BAL       6.56   $3,900.00
..       ...                  ...        ...        ...        ...         ...
492       WR       Alshon Jeffery     Eagles  PHI @ ATL      14.71  $12,400.00
493       TE       Joshua Perkins     Eagles  PHI @ ATL       1.30   $5,000.00
494       TE           Alex Ellis     Eagles  PHI @ ATL       0.00   $5,000.00
495       RB         Boston Scott     Eagles  PHI @ ATL       0.00   $6,000.00
496       RB        Corey Clement     Eagles  PHI @ ATL       7.37   $6,000.00
497       QB         Cody Kessler     Eagles  PHI @ ATL       8.73  $10,000.00
498       QB          Josh McCown     Eagles  PHI @ ATL       6.19  $10,000.00
499       QB         Carson Wentz     Eagles  PHI @ ATL      20.15  $12,900.00
500       TE            Zach Ertz     Eagles  PHI @ ATL      18.45  $11,900.00
501       WR            Greg Ward     Eagles  PHI @ ATL       0.00   $6,000.00
502       RB      Donnel Pumphrey     Eagles  PHI @ ATL       0.00   $6,000.00
503       WR        Marken Michel     Eagles  PHI @ ATL       0.00   $6,000.00
504       WR         Marcus Green     Eagles  PHI @ ATL       0.00   $6,000.00
505       WR       Nelson Agholor     Eagles  PHI @ ATL      10.52   $9,500.00
506       TE       Dallas Goedert     Eagles  PHI @ ATL       5.65   $5,900.00
507       QB        Kyle Lauletta     Eagles  PHI @ ATL      -0.60  $10,000.00
508       RB       Darren Sproles     Eagles  PHI @ ATL      10.16   $9,000.00
509       WR           Devin Ross     Eagles  PHI @ ATL       0.00   $6,000.00
510       WR       DeSean Jackson     Eagles  PHI @ ATL      13.35  $12,000.00
511       RB           Nico Evans     Eagles  PHI @ ATL       0.00   $6,000.00
512       RB        Jordan Howard     Eagles  PHI @ ATL      11.68   $9,600.00
513       WR      Carlton Agudosi     Eagles  PHI @ ATL       0.00   $6,000.00
514       RB        Miles Sanders     Eagles  PHI @ ATL       0.00   $8,300.00
515      DST  Philadelphia Eagles     Eagles  PHI @ ATL       5.77   $5,400.00
516       WR         Mack Hollins     Eagles  PHI @ ATL       0.00   $6,000.00
517       WR         Mike Wallace     Eagles  PHI @ ATL       0.00   $6,000.00
518       RB            Jay Ajayi     Eagles  PHI @ ATL      11.10   $6,000.00
519       TE             Will Tye     Eagles  PHI @ ATL       0.00   $5,000.00
520       WR    DeAndre Thompkins     Eagles  PHI @ ATL       0.00   $6,000.00
521       WR  JJ Arcega-Whiteside     Eagles  PHI @ ATL       0.00   $6,000.00

[522 rows x 6 columns]

In [9]:
# #need to clean up fd csv first. it has 6b intro lines
# fd_pd = pd.read_csv(fdfile)
# fd_pd

ParserError: Error tokenizing data. C error: Expected 11 fields in line 7, saw 27