In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import csv
from io import StringIO

In [2]:
# url = 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&game=fd&scsv=1'

In [3]:
# response = requests.get(url)

In [4]:
# # Create BeautifulSoup object; parse with 'html.parser'
# soup = bs(response.text, 'html.parser')

In [5]:
# print(soup.prettify())

In [6]:
# results = soup.find_all('pre')
# # results

In [7]:
# r = str(results[0])
# type(r)

In [8]:
# r

In [9]:
# results_to_process = r[5:]
# results_to_process = results_to_process[:-6]
# # results_to_process

In [10]:
# # try using csv reader to parse string from beautiful soup
# test = csv.reader(r, delimiter=';')
# for row in test:
#     print(row)
# #     print("next line")

In [11]:
# # try using csv reader to parse string from beautiful soup
# csvstring = StringIO(results_to_process)
# test = csv.reader(csvstring, delimiter=';')
# for row in test:
#     print(row)
# #     print("next line")

In [12]:
# # try using csv reader to parse string from beautiful soup
# csvstring2 = StringIO(results_to_process)
# df = pd.read_csv(csvstring2, sep=';')
# df.head()

# Setup Function to import from url to dataframe

In [13]:
def url_to_dataframe(url):
    print(url)
    response = requests.get(url)
    # Create BeautifulSoup object; parse with 'html.parser'
    soup = bs(response.text, 'html.parser')
    results = soup.find_all('pre')
    r = str(results[0])
    results_to_process = r[5:]
    results_to_process = results_to_process[:-6]
    csvstring2 = StringIO(results_to_process)
    df_to_return = pd.read_csv(csvstring2, sep=';')
#     print(df_to_return.head())
    return df_to_return

# Setup URLs

In [14]:
# setup urls
base_url = 'http://rotoguru1.com/cgi-bin/fyday.pl?'
fd_search = 'scsv=1&game=fd'
dk_search = 'scsv=1&game=dk'
year_query = '&year='
week_query = '&week='

# Create list of urls for FD and DK

In [15]:
url_list_fd = []
year = '2019'
for i in range (1,18):
    combined_url = base_url + fd_search + year_query + year + week_query + str(i)
    print(combined_url)
    url_list_fd.append(combined_url)

url_list_dk = []
for i in range (1,18):
    combined_url = base_url + dk_search + year_query + year + week_query + str(i)
    print(combined_url)
    url_list_dk.append(combined_url)

http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=17
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=17

# Import from URLs to dataframes

In [16]:
master_df_fd = pd.DataFrame()

for u in url_list_fd:
    temp_df = url_to_dataframe(u)
    master_df_fd = master_df_fd.append(temp_df)

http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2019&week=17

In [17]:
master_df_dk = pd.DataFrame()

for u in url_list_dk:
    temp_df = url_to_dataframe(u)
    master_df_dk = master_df_dk.append(temp_df)

http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2019&week=17

In [18]:
master_df_dk.head()

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,DK points,DK salary
0,1,2019,1527,"Jackson, Lamar",QB,bal,a,mia,36.56,6000.0
1,1,2019,1501,"Prescott, Dak",QB,dal,h,nyg,36.40,5900.0
2,1,2019,1518,"Watson, Deshaun",QB,hou,a,nor,31.72,6800.0
3,1,2019,1340,"Stafford, Matthew",QB,det,a,ari,31.60,5400.0
4,1,2019,1523,"Mahomes II, Patrick",QB,kan,a,jac,30.32,7200.0

# Clean up and join dataframes

In [19]:
# add dk suffix
master_df_dk = master_df_dk.add_suffix('_dk')
master_df_dk.head()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk
0,1,2019,1527,"Jackson, Lamar",QB,bal,a,mia,36.56,6000.0
1,1,2019,1501,"Prescott, Dak",QB,dal,h,nyg,36.40,5900.0
2,1,2019,1518,"Watson, Deshaun",QB,hou,a,nor,31.72,6800.0
3,1,2019,1340,"Stafford, Matthew",QB,det,a,ari,31.60,5400.0
4,1,2019,1523,"Mahomes II, Patrick",QB,kan,a,jac,30.32,7200.0

In [20]:
# master_df_dk.sort_values(by=['GID_dk'])

In [21]:
master_df_fd = master_df_fd.add_suffix('_fd')

master_df_fd.head()

,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
0,1,2019,1527,"Jackson, Lamar",QB,bal,a,mia,33.56,7400.0
1,1,2019,1501,"Prescott, Dak",QB,dal,h,nyg,33.40,7500.0
2,1,2019,1518,"Watson, Deshaun",QB,hou,a,nor,31.72,8500.0
3,1,2019,1340,"Stafford, Matthew",QB,det,a,ari,27.60,6600.0
4,1,2019,1523,"Mahomes II, Patrick",QB,kan,a,jac,27.32,8700.0

In [22]:
master_df_fd.sort_values(by=['GID_fd'])

,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
12,3,2019,1131,"Brady, Tom",QB,nwe,h,nyj,20.14,7800.0
18,7,2019,1131,"Brady, Tom",QB,nwe,a,nyj,12.96,7700.0
25,14,2019,1131,"Brady, Tom",QB,nwe,h,kan,11.76,7700.0
16,12,2019,1131,"Brady, Tom",QB,nwe,h,dal,11.30,7700.0
23,15,2019,1131,"Brady, Tom",QB,nwe,a,cin,12.92,7600.0
4,13,2019,1131,"Brady, Tom",QB,nwe,a,hou,25.34,7700.0
6,6,2019,1131,"Brady, Tom",QB,nwe,h,nyg,22.96,7700.0
12,8,2019,1131,"Brady, Tom",QB,nwe,h,cle,18.36,7900.0
19,9,2019,1131,"Brady, Tom",QB,nwe,a,bal,14.40,7900.0
24,11,2019,1131,"Brady, Tom",QB,nwe,a,phi,8.54,7800.0
6,1,2019,1131,"Brady, Tom",QB,nwe,h,pit,25.64,7300.0
12,16,2019,1131,"Brady, Tom",QB,nwe,h,buf,17.24,7400.0
6,5,2019,1131,"Brady, Tom",QB,nwe,a,was,24.92,7600.0
15,17,2019,1131,"Brady, Tom",QB,nwe,h,mia,15.84,7600.0
3,2,2019,1131,"Brady, Tom",QB,nwe,a,mia,24.66,7800.0
26,4,2019,1131,"Brady, Tom",QB,nwe,a,buf,4.70,7800.0
0,14,2019,1151,"Brees, Drew",QB,nor,h,sfo,40.06,7700.0
20,10,2019,1151,"Brees, Drew",QB,nor,h,atl,11.48,8300.0
6,16,2019,1151,"Brees, Drew",QB,nor,a,ten,22.86,8200.0
11,1,2019,1151,"Brees, Drew",QB,nor,h,hou,21.80,8000.0
5,17,2019,1151,"Brees, Drew",QB,nor,a,car,22.02,8400.0
25,13,2019,1151,"Brees, Drew",QB,nor,a,atl,11.26,8500.0
35,2,2019,1151,"Brees, Drew",QB,nor,a,lar,0.52,8000.0
9,11,2019,1151,"Brees, Drew",QB,nor,a,tam,21.12,8300.0
2,15,2019,1151,"Brees, Drew",QB,nor,h,ind,28.28,8200.0
3,8,2019,1151,"Brees, Drew",QB,nor,h,ari,25.92,7200.0
6,12,2019,1151,"Brees, Drew",QB,nor,h,car,23.44,8500.0
34,2,2019,1175,"McCown, Josh",QB,phi,a,atl,0.96,6000.0
34,5,2019,1175,"McCown, Josh",QB,phi,h,nyj,-0.20,6000.0
32,6,2019,1175,"McCown, Josh",QB,phi,a,min,0.00,6000.0
...,...,...,...,...,...,...,...,...,...,...
435,14,2019,7031,Washington,Def,was,a,gnb,7.00,3000.0
382,11,2019,7031,Washington,Def,was,h,nyj,5.00,4000.0
366,12,2019,7031,Washington,Def,was,h,det,21.00,3000.0
411,8,2019,7031,Washington,Def,was,a,min,6.00,3200.0
412,5,2019,7031,Washington,Def,was,h,nwe,5.00,2500.0
449,2,2019,7031,Washington,Def,was,h,dal,2.00,3400.0
453,16,2019,7031,Washington,Def,was,h,nyg,-1.00,3800.0
423,13,2019,7031,Washington,Def,was,a,car,11.00,3200.0
435,3,2019,7031,Washington,Def,was,h,chi,5.00,3400.0
436,17,2019,7031,Washington,Def,was,a,dal,1.00,3100.0
406,4,2019,7031,Washington,Def,was,a,nyg,9.00,4100.0
381,7,2019,7031,Washington,Def,was,h,sfo,8.00,3500.0
467,1,2019,7031,Washington,Def,was,a,phi,0.00,3500.0
390,9,2019,7031,Washington,Def,was,a,buf,2.00,3000.0
426,2,2019,7032,Houston,Def,hou,h,jac,10.00,4800.0
387,6,2019,7032,Houston,Def,hou,a,kan,5.00,3200.0
389,12,2019,7032,Houston,Def,hou,h,ind,2.00,3500.0
432,13,2019,7032,Houston,Def,hou,h,nwe,5.00,3200.0
434,15,2019,7032,Houston,Def,hou,a,ten,6.00,3900.0
388,7,2019,7032,Houston,Def,hou,a,ind,2.00,3900.0
430,3,2019,7032,Houston,Def,hou,a,lac,8.00,4400.0
392,11,2019,7032,Houston,Def,hou,a,bal,-3.00,3500.0
461,1,2019,7032,Houston,Def,hou,a,nor,2.00,3800.0
404,4,2019,7032,Houston,Def,hou,h,car,10.00,4400.0
425,8,2019,7032,Houston,Def,hou,h,oak,0.00,4400.0
367,9,2019,7032,Houston,Def,hou,a,jac,19.00,4400.0
425,16,2019,7032,Houston,Def,hou,a,tam,22.00,4100.0
407,5,2019,7032,Houston,Def,hou,h,atl,9.00,4300.0
447,14,2019,7032,Houston,Def,hou,h,den,2.00,4600.0
440,17,2019,7032,Houston,Def,hou,h,ten,-4.00,4100.0

In [23]:
all_year = pd.merge(master_df_dk, master_df_fd, 'outer', left_on =['GID_dk', 'Week_dk'], right_on = ['GID_fd', 'Week_fd'])
all_year.head()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
0,1.0,2019.0,1527.0,"Jackson, Lamar",QB,bal,a,mia,36.56,6000.0,1.0,2019.0,1527.0,"Jackson, Lamar",QB,bal,a,mia,33.56,7400.0
1,1.0,2019.0,1501.0,"Prescott, Dak",QB,dal,h,nyg,36.40,5900.0,1.0,2019.0,1501.0,"Prescott, Dak",QB,dal,h,nyg,33.40,7500.0
2,1.0,2019.0,1518.0,"Watson, Deshaun",QB,hou,a,nor,31.72,6800.0,1.0,2019.0,1518.0,"Watson, Deshaun",QB,hou,a,nor,31.72,8500.0
3,1.0,2019.0,1340.0,"Stafford, Matthew",QB,det,a,ari,31.60,5400.0,1.0,2019.0,1340.0,"Stafford, Matthew",QB,det,a,ari,27.60,6600.0
4,1.0,2019.0,1523.0,"Mahomes II, Patrick",QB,kan,a,jac,30.32,7200.0,1.0,2019.0,1523.0,"Mahomes II, Patrick",QB,kan,a,jac,27.32,8700.0

In [24]:
len(master_df_dk)

6810

In [25]:
len(master_df_fd)

7250

In [26]:
len(all_year)

7344

In [27]:
all_year.tail()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
7339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6437.0,"Slye, Joey",PK,car,h,nor,4.0,NaN
7340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6236.0,"Myers, Jason",PK,sea,h,sfo,3.0,NaN
7341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6432.0,"Badgley, Mike",PK,lac,a,kan,3.0,NaN
7342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6241.0,"Fairbairn, Ka'imi",PK,hou,h,ten,2.0,NaN
7343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6436.0,"Gay, Matt",PK,tam,h,atl,2.0,NaN

In [28]:
all_year['Name_dk'].fillna(all_year['Name_fd'], inplace = True)
all_year.tail()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
7339,NaN,NaN,NaN,"Slye, Joey",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6437.0,"Slye, Joey",PK,car,h,nor,4.0,NaN
7340,NaN,NaN,NaN,"Myers, Jason",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6236.0,"Myers, Jason",PK,sea,h,sfo,3.0,NaN
7341,NaN,NaN,NaN,"Badgley, Mike",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6432.0,"Badgley, Mike",PK,lac,a,kan,3.0,NaN
7342,NaN,NaN,NaN,"Fairbairn, Ka'imi",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6241.0,"Fairbairn, Ka'imi",PK,hou,h,ten,2.0,NaN
7343,NaN,NaN,NaN,"Gay, Matt",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2019.0,6436.0,"Gay, Matt",PK,tam,h,atl,2.0,NaN

In [29]:
all_year['Week_dk'].fillna(all_year['Week_fd'], inplace = True)
all_year['Year_dk'].fillna(all_year['Year_fd'], inplace = True)
all_year['GID_dk'].fillna(all_year['GID_fd'], inplace = True)
all_year['Pos_dk'].fillna(all_year['Pos_fd'], inplace = True)
all_year['Team_dk'].fillna(all_year['Team_fd'], inplace = True)
all_year['h/a_dk'].fillna(all_year['h/a_fd'], inplace = True)
all_year['Oppt_dk'].fillna(all_year['Oppt_fd'], inplace = True)

all_year['Name_fd'].fillna(all_year['Name_dk'], inplace = True)
all_year['Week_fd'].fillna(all_year['Week_dk'], inplace = True)
all_year['Year_fd'].fillna(all_year['Year_dk'], inplace = True)
all_year['GID_fd'].fillna(all_year['GID_dk'], inplace = True)
all_year['Pos_fd'].fillna(all_year['Pos_dk'], inplace = True)
all_year['Team_fd'].fillna(all_year['Team_dk'], inplace = True)
all_year['h/a_fd'].fillna(all_year['h/a_dk'], inplace = True)
all_year['Oppt_fd'].fillna(all_year['Oppt_dk'], inplace = True)

all_year.tail()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
7339,17.0,2019.0,6437.0,"Slye, Joey",PK,car,h,nor,NaN,NaN,17.0,2019.0,6437.0,"Slye, Joey",PK,car,h,nor,4.0,NaN
7340,17.0,2019.0,6236.0,"Myers, Jason",PK,sea,h,sfo,NaN,NaN,17.0,2019.0,6236.0,"Myers, Jason",PK,sea,h,sfo,3.0,NaN
7341,17.0,2019.0,6432.0,"Badgley, Mike",PK,lac,a,kan,NaN,NaN,17.0,2019.0,6432.0,"Badgley, Mike",PK,lac,a,kan,3.0,NaN
7342,17.0,2019.0,6241.0,"Fairbairn, Ka'imi",PK,hou,h,ten,NaN,NaN,17.0,2019.0,6241.0,"Fairbairn, Ka'imi",PK,hou,h,ten,2.0,NaN
7343,17.0,2019.0,6436.0,"Gay, Matt",PK,tam,h,atl,NaN,NaN,17.0,2019.0,6436.0,"Gay, Matt",PK,tam,h,atl,2.0,NaN

In [30]:
all_year.columns.tolist()

['Week_dk',
 'Year_dk',
 'GID_dk',
 'Name_dk',
 'Pos_dk',
 'Team_dk',
 'h/a_dk',
 'Oppt_dk',
 'DK points_dk',
 'DK salary_dk',
 'Week_fd',
 'Year_fd',
 'GID_fd',
 'Name_fd',
 'Pos_fd',
 'Team_fd',
 'h/a_fd',
 'Oppt_fd',
 'FD points_fd',
 'FD salary_fd']

In [31]:
all_final = all_year[['Week_dk',
 'Year_dk',
 'GID_dk',
 'Name_dk',
 'Pos_dk',
 'Team_dk',
 'h/a_dk',
 'Oppt_dk',
 'DK points_dk',
 'DK salary_dk',
 'FD points_fd',
 'FD salary_fd']]

In [32]:
all_final.columns.tolist()

['Week_dk',
 'Year_dk',
 'GID_dk',
 'Name_dk',
 'Pos_dk',
 'Team_dk',
 'h/a_dk',
 'Oppt_dk',
 'DK points_dk',
 'DK salary_dk',
 'FD points_fd',
 'FD salary_fd']

In [33]:
# capital letters are a pain in postgres so get rid of them here
new_columns = ['week',
 'year',
 'gid',
 'name',
 'pos',
 'team',
 'h/a',
 'oppt',
 'dk_points',
 'dk_salary',
 'fd_points',
 'fd_salary']

In [34]:
all_final.columns = new_columns

In [35]:
all_final

,week,year,gid,name,pos,team,h/a,oppt,dk_points,dk_salary,fd_points,fd_salary
0,1.0,2019.0,1527.0,"Jackson, Lamar",QB,bal,a,mia,36.56,6000.0,33.56,7400.0
1,1.0,2019.0,1501.0,"Prescott, Dak",QB,dal,h,nyg,36.40,5900.0,33.40,7500.0
2,1.0,2019.0,1518.0,"Watson, Deshaun",QB,hou,a,nor,31.72,6800.0,31.72,8500.0
3,1.0,2019.0,1340.0,"Stafford, Matthew",QB,det,a,ari,31.60,5400.0,27.60,6600.0
4,1.0,2019.0,1523.0,"Mahomes II, Patrick",QB,kan,a,jac,30.32,7200.0,27.32,8700.0
5,1.0,2019.0,1435.0,"Keenum, Case",QB,was,a,phi,30.20,4900.0,27.20,6200.0
6,1.0,2019.0,1131.0,"Brady, Tom",QB,nwe,h,pit,28.64,6000.0,25.64,7300.0
7,1.0,2019.0,1514.0,"Wentz, Carson",QB,phi,h,was,28.02,5700.0,25.02,7600.0
8,1.0,2019.0,1231.0,"Rivers, Philip",QB,lac,h,ind,27.92,5900.0,24.92,7500.0
9,1.0,2019.0,1403.0,"Dalton, Andy",QB,cin,a,sea,25.72,5000.0,20.72,6500.0
10,1.0,2019.0,1537.0,"Murray, Kyler",QB,ari,h,det,25.62,5600.0,22.62,7300.0
11,1.0,2019.0,1151.0,"Brees, Drew",QB,nor,h,hou,24.80,6400.0,21.80,8000.0
12,1.0,2019.0,1466.0,"Mariota, Marcus",QB,ten,a,cle,24.32,5200.0,24.32,6500.0
13,1.0,2019.0,1301.0,"Ryan, Matt",QB,atl,a,min,23.56,6100.0,20.56,8000.0
14,1.0,2019.0,1529.0,"Allen, Josh",QB,buf,a,nyj,19.96,5600.0,17.96,6900.0
15,1.0,2019.0,1225.0,"Manning, Eli",QB,nyg,a,dal,18.84,5000.0,14.84,6400.0
16,1.0,2019.0,1540.0,"Minshew, Gardner",QB,jac,h,kan,18.60,4000.0,18.60,6000.0
17,1.0,2019.0,1412.0,"Wilson, Russell",QB,sea,h,cin,16.64,6300.0,16.64,8200.0
18,1.0,2019.0,1496.0,"Brissett, Jacoby",QB,ind,a,lac,16.50,4400.0,16.50,6000.0
19,1.0,2019.0,1302.0,"Flacco, Joe",QB,den,a,oak,14.82,5100.0,14.82,6400.0
20,1.0,2019.0,1441.0,"Carr, Derek",QB,oak,h,den,14.56,5400.0,14.56,6600.0
21,1.0,2019.0,1415.0,"Cousins, Kirk",QB,min,h,atl,14.32,5500.0,14.32,7400.0
22,1.0,2019.0,1524.0,"Darnold, Sam",QB,nyj,h,buf,13.00,5100.0,13.00,6700.0
23,1.0,2019.0,1252.0,"Rodgers, Aaron",QB,gnb,a,chi,12.92,6500.0,12.92,8200.0
24,1.0,2019.0,1528.0,"Mayfield, Baker",QB,cle,h,ten,12.40,6400.0,12.40,7900.0
25,1.0,2019.0,1452.0,"Garoppolo, Jimmy",QB,sfo,a,tam,11.44,5800.0,11.44,7200.0
26,1.0,2019.0,1242.0,"Fitzpatrick, Ryan",QB,mia,h,bal,11.20,4900.0,11.20,6200.0
27,1.0,2019.0,1232.0,"Roethlisberger, Ben",QB,pit,a,nwe,10.74,6300.0,10.74,7600.0
28,1.0,2019.0,1490.0,"Goff, Jared",QB,lar,a,car,10.44,6200.0,10.44,7800.0
29,1.0,2019.0,1465.0,"Winston, Jameis",QB,tam,h,sfo,10.06,6600.0,10.06,7500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7314,17.0,2019.0,6206.0,"Tucker, Justin",PK,bal,h,pit,NaN,NaN,17.00,NaN
7315,17.0,2019.0,6233.0,"Lambo, Josh",PK,jac,h,ind,NaN,NaN,16.00,NaN
7316,17.0,2019.0,6227.0,"McManus, Brandon",PK,den,h,oak,NaN,NaN,14.00,NaN
7317,17.0,2019.0,6194.0,"Bailey, Dan",PK,min,h,chi,NaN,NaN,13.00,NaN
7318,17.0,2019.0,6433.0,"Pineiro, Eddy",PK,chi,a,min,NaN,NaN,13.00,NaN
7319,17.0,2019.0,6422.0,"Elliott, Jake",PK,phi,a,nyg,NaN,NaN,12.00,NaN
7320,17.0,2019.0,6104.0,"Crosby, Mason",PK,gnb,a,det,NaN,NaN,12.00,NaN
7321,17.0,2019.0,6209.0,"Hopkins, Dustin",PK,was,a,dal,NaN,NaN,11.00,NaN
7322,17.0,2019.0,6159.0,"Prater, Matt",PK,det,h,gnb,NaN,NaN,11.00,NaN
7323,17.0,2019.0,6203.0,"Bullock, Randy",PK,cin,h,cle,NaN,NaN,11.00,NaN
7324,17.0,2019.0,6438.0,"McLaughlin, Chase",PK,ind,a,jac,NaN,NaN,10.00,NaN
7325,17.0,2019.0,6096.0,"Gould, Robbie",PK,sfo,a,sea,NaN,NaN,9.00,NaN
7326,17.0,2019.0,6427.0,"Sanders, Jason",PK,mia,a,nwe,NaN,NaN,9.00,NaN
7327,17.0,2019.0,6428.0,"Carlson, Daniel",PK,oak,a,den,NaN,NaN,9.00,NaN
7328,17.0,2019.0,6205.0,"Zuerlein, Greg",PK,lar,h,ari,NaN,NaN,8.00,NaN
7329,17.0,2019.0,6423.0,"Butker, Harrison",PK,kan,h,lac,NaN,NaN,8.00,NaN
7330,17.0,2019.0,6426.0,"Ficken, Sam",PK,nyj,a,buf,NaN,NaN,8.00,NaN
7331,17.0,2019.0,6434.0,"Seibert, Austin",PK,cle,a,cin,NaN,NaN,6.00,NaN
7332,17.0,2019.0,6240.0,"Gonzalez, Zane",PK,ari,a,lar,NaN,NaN,6.00,NaN
7333,17.0,2019.0,6239.0,"Lutz, Wil",PK,nor,a,car,NaN,NaN,6.00,NaN
7334,17.0,2019.0,6120.0,"Folk, Nick",PK,nwe,h,mia,NaN,NaN,6.00,NaN
7335,17.0,2019.0,6167.0,"Hauschka, Steven",PK,buf,h,nyj,NaN,NaN,6.00,NaN
7336,17.0,2019.0,6242.0,"Rosas, Aldrick",PK,nyg,h,phi,NaN,NaN,5.00,NaN
7337,17.0,2019.0,6430.0,"Joseph, Greg",PK,ten,a,hou,NaN,NaN,5.00,NaN
7338,17.0,2019.0,6225.0,"Boswell, Chris",PK,pit,a,bal,NaN,NaN,4.00,NaN
7339,17.0,2019.0,6437.0,"Slye, Joey",PK,car,h,nor,NaN,NaN,4.00,NaN
7340,17.0,2019.0,6236.0,"Myers, Jason",PK,sea,h,sfo,NaN,NaN,3.00,NaN
7341,17.0,2019.0,6432.0,"Badgley, Mike",PK,lac,a,kan,NaN,NaN,3.00,NaN
7342,17.0,2019.0,6241.0,"Fairbairn, Ka'imi",PK,hou,h,ten,NaN,NaN,2.00,NaN
7343,17.0,2019.0,6436.0,"Gay, Matt",PK,tam,h,atl,NaN,NaN,2.00,NaN

In [36]:
csv_name = year + "_fantasy_data_dk_and_fd.csv"
all_final.to_csv(csv_name)

In [37]:
#connect to sqlalchemy
from sqlalchemy import create_engine

In [38]:
db_string = 'postgresql://postgres:postgres@localhost:5432/fantasydata2018test'
db = create_engine(db_string)

In [39]:
db_table_name = "raw_data_" + year

In [40]:
all_final.to_sql(db_table_name, con=db)