In [1]:
import pandas as pd

In [4]:
# Save path to data set in a variable
dkfile = "Resources/DKSalariesMainSlateWeek3Cleaned.csv"
fdfile = "Resources/FanduelSalariesMainSlateWeek3Cleaned.csv"
draftfile = "Resources/FantasyDraftSalariesMainSlateWeek3.csv"

In [6]:
dk_pd = pd.read_csv(dkfile)

dk_pd.head()

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,RB,Saquon Barkley (13362873),Saquon Barkley,13362873,RB/FLEX,9100,NYG@TB 09/22/2019 04:05PM ET,NYG,23.20
1,RB,Ezekiel Elliott (13362875),Ezekiel Elliott,13362875,RB/FLEX,8900,MIA@DAL 09/22/2019 01:00PM ET,DAL,18.15
2,RB,Christian McCaffrey (13362877),Christian McCaffrey,13362877,RB/FLEX,8700,CAR@ARI 09/22/2019 04:05PM ET,CAR,26.60
3,RB,Alvin Kamara (13362879),Alvin Kamara,13362879,RB/FLEX,8000,NO@SEA 09/22/2019 04:25PM ET,NO,15.45
4,RB,Dalvin Cook (13362881),Dalvin Cook,13362881,RB/FLEX,7800,OAK@MIN 09/22/2019 01:00PM ET,MIN,30.05

In [7]:
# dk_pd.describe()
# dk_pd.columns
#clean up all column headers to enable dot notation
dk_pd.columns = dk_pd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
dk_pd.head()

,position,name_+_id,name,id,roster_position,salary,game_info,teamabbrev,avgpointspergame
0,RB,Saquon Barkley (13362873),Saquon Barkley,13362873,RB/FLEX,9100,NYG@TB 09/22/2019 04:05PM ET,NYG,23.20
1,RB,Ezekiel Elliott (13362875),Ezekiel Elliott,13362875,RB/FLEX,8900,MIA@DAL 09/22/2019 01:00PM ET,DAL,18.15
2,RB,Christian McCaffrey (13362877),Christian McCaffrey,13362877,RB/FLEX,8700,CAR@ARI 09/22/2019 04:05PM ET,CAR,26.60
3,RB,Alvin Kamara (13362879),Alvin Kamara,13362879,RB/FLEX,8000,NO@SEA 09/22/2019 04:25PM ET,NO,15.45
4,RB,Dalvin Cook (13362881),Dalvin Cook,13362881,RB/FLEX,7800,OAK@MIN 09/22/2019 01:00PM ET,MIN,30.05

In [8]:
dk_pd = dk_pd.add_suffix('_dk')
dk_pd.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,avgpointspergame_dk
0,RB,Saquon Barkley (13362873),Saquon Barkley,13362873,RB/FLEX,9100,NYG@TB 09/22/2019 04:05PM ET,NYG,23.20
1,RB,Ezekiel Elliott (13362875),Ezekiel Elliott,13362875,RB/FLEX,8900,MIA@DAL 09/22/2019 01:00PM ET,DAL,18.15
2,RB,Christian McCaffrey (13362877),Christian McCaffrey,13362877,RB/FLEX,8700,CAR@ARI 09/22/2019 04:05PM ET,CAR,26.60
3,RB,Alvin Kamara (13362879),Alvin Kamara,13362879,RB/FLEX,8000,NO@SEA 09/22/2019 04:25PM ET,NO,15.45
4,RB,Dalvin Cook (13362881),Dalvin Cook,13362881,RB/FLEX,7800,OAK@MIN 09/22/2019 01:00PM ET,MIN,30.05

In [9]:
draft_pd = pd.read_csv(draftfile)
draft_pd.head()

  Position             Name   Team       Game   Avg FPPG      Salary
0       WR        Zay Jones  Bills  CIN @ BUF       3.80   $6,200.00
1       WR  Isaiah McKenzie  Bills  CIN @ BUF       6.20   $6,700.00
2       WR    Robert Foster  Bills  CIN @ BUF       0.00   $6,300.00
3       WR     Cole Beasley  Bills  CIN @ BUF      10.65   $8,700.00
4       WR       John Brown  Bills  CIN @ BUF      21.25  $10,500.00

In [10]:
#clean up all column headers to enable dot notation
draft_pd.columns = draft_pd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
draft_pd.head()

  position             name   team       game  avg_fppg      salary
0       WR        Zay Jones  Bills  CIN @ BUF      3.80   $6,200.00
1       WR  Isaiah McKenzie  Bills  CIN @ BUF      6.20   $6,700.00
2       WR    Robert Foster  Bills  CIN @ BUF      0.00   $6,300.00
3       WR     Cole Beasley  Bills  CIN @ BUF     10.65   $8,700.00
4       WR       John Brown  Bills  CIN @ BUF     21.25  $10,500.00

In [11]:
draft_pd = draft_pd.add_suffix('_draft')
draft_pd.head()

,position_draft,name_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
0,WR,Zay Jones,Bills,CIN @ BUF,3.80,"$6,200.00"
1,WR,Isaiah McKenzie,Bills,CIN @ BUF,6.20,"$6,700.00"
2,WR,Robert Foster,Bills,CIN @ BUF,0.00,"$6,300.00"
3,WR,Cole Beasley,Bills,CIN @ BUF,10.65,"$8,700.00"
4,WR,John Brown,Bills,CIN @ BUF,21.25,"$10,500.00"

In [12]:
# #need to clean up fd csv first. it has 6b intro lines
fd_pd = pd.read_csv(fdfile, header=6)
# fd_pd.rename(columns={'Nickname':'Name'}, inplace=True)
#clean up all column headers to enable dot notation
fd_pd.columns = fd_pd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

fd_pd = fd_pd.add_suffix('_fd')

fd_pd.head()

,player_id_+_player_name_fd,id_fd,position_fd,first_name_fd,nickname_fd,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
0,38547-57439:Patrick Mahomes,38547-57439,QB,Patrick,Patrick Mahomes,Mahomes,29.469999,2,9200,BAL@KC,KC,BAL,NaN,NaN,NaN
1,38547-64401:Saquon Barkley,38547-64401,RB,Saquon,Saquon Barkley,Barkley,18.450001,2,9200,NYG@TB,NYG,TB,NaN,NaN,NaN
2,38547-16606:DeAndre Hopkins,38547-16606,WR,DeAndre,DeAndre Hopkins,Hopkins,16.799999,2,8900,HOU@LAC,HOU,LAC,NaN,NaN,NaN
3,38547-55050:Christian McCaffrey,38547-55050,RB,Christian,Christian McCaffrey,McCaffrey,22.100000,2,8900,CAR@ARI,CAR,ARI,NaN,NaN,NaN
4,38547-38791:Ezekiel Elliott,38547-38791,RB,Ezekiel,Ezekiel Elliott,Elliott,15.900000,2,8800,MIA@DAL,DAL,MIA,NaN,NaN,NaN

In [13]:
dk_draft = pd.merge(dk_pd, draft_pd, 'outer', left_on ='name_dk', right_on = 'name_draft')
dk_draft.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,avgpointspergame_dk,position_draft,name_draft,team_draft,game_draft,avg_fppg_draft,salary_draft
0,RB,Saquon Barkley (13362873),Saquon Barkley,13362873.0,RB/FLEX,9100.0,NYG@TB 09/22/2019 04:05PM ET,NYG,23.20,RB,Saquon Barkley,Giants,NYG @ TB,23.20,"$16,700.00"
1,RB,Ezekiel Elliott (13362875),Ezekiel Elliott,13362875.0,RB/FLEX,8900.0,MIA@DAL 09/22/2019 01:00PM ET,DAL,18.15,RB,Ezekiel Elliott,Cowboys,MIA @ DAL,18.15,"$17,100.00"
2,RB,Christian McCaffrey (13362877),Christian McCaffrey,13362877.0,RB/FLEX,8700.0,CAR@ARI 09/22/2019 04:05PM ET,CAR,26.60,RB,Christian McCaffrey,Panthers,CAR @ ARI,26.60,"$16,800.00"
3,RB,Alvin Kamara (13362879),Alvin Kamara,13362879.0,RB/FLEX,8000.0,NO@SEA 09/22/2019 04:25PM ET,NO,15.45,RB,Alvin Kamara,Saints,NO @ SEA,15.45,"$14,900.00"
4,RB,Dalvin Cook (13362881),Dalvin Cook,13362881.0,RB/FLEX,7800.0,OAK@MIN 09/22/2019 01:00PM ET,MIN,30.05,RB,Dalvin Cook,Vikings,OAK @ MIN,30.05,"$14,600.00"

In [14]:
dk_draft.dtypes

position_dk             object
name_+_id_dk            object
name_dk                 object
id_dk                  float64
roster_position_dk      object
salary_dk              float64
game_info_dk            object
teamabbrev_dk           object
avgpointspergame_dk    float64
position_draft          object
name_draft              object
team_draft              object
game_draft              object
avg_fppg_draft         float64
salary_draft            object
dtype: object

In [15]:
all_pd = pd.merge(dk_draft, fd_pd, 'outer',left_on = 'name_dk', right_on = 'nickname_fd')
all_pd.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,avgpointspergame_dk,position_draft,...,last_name_fd,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd
0,RB,Saquon Barkley (13362873),Saquon Barkley,13362873.0,RB/FLEX,9100.0,NYG@TB 09/22/2019 04:05PM ET,NYG,23.20,RB,...,Barkley,18.450001,2.0,9200.0,NYG@TB,NYG,TB,NaN,NaN,NaN
1,RB,Ezekiel Elliott (13362875),Ezekiel Elliott,13362875.0,RB/FLEX,8900.0,MIA@DAL 09/22/2019 01:00PM ET,DAL,18.15,RB,...,Elliott,15.900000,2.0,8800.0,MIA@DAL,DAL,MIA,NaN,NaN,NaN
2,RB,Christian McCaffrey (13362877),Christian McCaffrey,13362877.0,RB/FLEX,8700.0,CAR@ARI 09/22/2019 04:05PM ET,CAR,26.60,RB,...,McCaffrey,22.100000,2.0,8900.0,CAR@ARI,CAR,ARI,NaN,NaN,NaN
3,RB,Alvin Kamara (13362879),Alvin Kamara,13362879.0,RB/FLEX,8000.0,NO@SEA 09/22/2019 04:25PM ET,NO,15.45,RB,...,Kamara,13.450000,2.0,8000.0,NO@SEA,NO,SEA,NaN,NaN,NaN
4,RB,Dalvin Cook (13362881),Dalvin Cook,13362881.0,RB/FLEX,7800.0,OAK@MIN 09/22/2019 01:00PM ET,MIN,30.05,RB,...,Cook,25.799999,2.0,8300.0,OAK@MIN,MIN,OAK,NaN,NaN,NaN

In [16]:
all_pd.salary_draft.unique()

array(['$16,700.00', '$17,100.00', '$16,800.00', '$14,900.00',
       '$14,600.00', '$13,900.00', '$13,700.00', '$14,000.00',
       '$14,700.00', '$13,300.00', '$16,300.00', '$13,500.00',
       '$13,200.00', '$14,500.00', '$12,500.00', '$13,000.00',
       '$12,100.00', '$12,700.00', '$12,400.00', '$12,300.00',
       '$12,900.00', '$13,100.00', '$11,900.00', '$11,600.00',
       '$11,700.00', '$11,400.00', '$12,000.00', '$11,800.00',
       '$10,800.00', '$11,300.00', '$11,000.00', '$10,500.00',
       '$11,500.00', '$10,900.00', '$10,600.00', '$11,200.00',
       '$10,100.00', '$10,300.00', '$9,900.00', '$10,200.00',
       '$11,100.00', '$10,000.00', '$10,700.00', '$9,500.00', '$9,100.00',
       '$10,400.00', '$9,300.00', '$9,800.00', '$9,400.00', '$9,000.00',
       '$8,800.00', '$9,200.00', '$8,900.00', nan, '$8,500.00',
       '$8,700.00', '$8,000.00', '$8,400.00', '$7,400.00', '$7,700.00',
       '$7,800.00', '$5,000.00', '$7,500.00', '$7,000.00', '$7,200.00',
       '$6,900.00', '$8,200.00', '$6,500.00', '$6,600.00', '$7,900.00',
       '$7,100.00', '$8,100.00', '$7,300.00', '$6,200.00', '$6,400.00',
       '$6,700.00', '$6,000.00', '$5,700.00', '$6,300.00', '$5,500.00',
       '$5,600.00', '$5,900.00', '$5,100.00', '$5,300.00', '$5,200.00',
       '$4,200.00', '$3,900.00', '$4,400.00', '$4,500.00', '$4,800.00',
       '$3,800.00', '$6,100.00', '$4,000.00', '$4,700.00', '$15,400.00',
       '$4,100.00', '$12,200.00', '$12,800.00'], dtype=object)

In [17]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    if input not string, return input
    """
    if isinstance(val, str):
        new_val = val.replace(',','').replace('$', '')
        return float(new_val)
    else:
        return val

In [18]:
#clean up columns
all_pd.played_fd = pd.to_numeric(all_pd.played_fd, errors='coerce').fillna(0).astype('int64')
all_pd['salary_draft'] = all_pd['salary_draft']
# strip currency from salary_draft
all_pd['salary_draft'] = all_pd['salary_draft'].apply(convert_currency)
all_pd.dtypes

position_dk                    object
name_+_id_dk                   object
name_dk                        object
id_dk                         float64
roster_position_dk             object
salary_dk                     float64
game_info_dk                   object
teamabbrev_dk                  object
avgpointspergame_dk           float64
position_draft                 object
name_draft                     object
team_draft                     object
game_draft                     object
avg_fppg_draft                float64
salary_draft                  float64
player_id_+_player_name_fd     object
id_fd                          object
position_fd                    object
first_name_fd                  object
nickname_fd                    object
last_name_fd                   object
fppg_fd                       float64
played_fd                       int64
salary_fd                     float64
game_fd                        object
team_fd                        object
opponent_fd                    object
injury_indicator_fd            object
injury_details_fd              object
tier_fd                       float64
dtype: object

In [19]:
# get median games played to set weeks value
median_games_played = all_pd.played_fd.median()
median_games_played

1.0

In [20]:
current_week = int(median_games_played) + 1
current_week

2

In [21]:
all_pd['week'] = current_week
all_pd.head()

,position_dk,name_+_id_dk,name_dk,id_dk,roster_position_dk,salary_dk,game_info_dk,teamabbrev_dk,avgpointspergame_dk,position_draft,...,fppg_fd,played_fd,salary_fd,game_fd,team_fd,opponent_fd,injury_indicator_fd,injury_details_fd,tier_fd,week
0,RB,Saquon Barkley (13362873),Saquon Barkley,13362873.0,RB/FLEX,9100.0,NYG@TB 09/22/2019 04:05PM ET,NYG,23.20,RB,...,18.450001,2,9200.0,NYG@TB,NYG,TB,NaN,NaN,NaN,2
1,RB,Ezekiel Elliott (13362875),Ezekiel Elliott,13362875.0,RB/FLEX,8900.0,MIA@DAL 09/22/2019 01:00PM ET,DAL,18.15,RB,...,15.900000,2,8800.0,MIA@DAL,DAL,MIA,NaN,NaN,NaN,2
2,RB,Christian McCaffrey (13362877),Christian McCaffrey,13362877.0,RB/FLEX,8700.0,CAR@ARI 09/22/2019 04:05PM ET,CAR,26.60,RB,...,22.100000,2,8900.0,CAR@ARI,CAR,ARI,NaN,NaN,NaN,2
3,RB,Alvin Kamara (13362879),Alvin Kamara,13362879.0,RB/FLEX,8000.0,NO@SEA 09/22/2019 04:25PM ET,NO,15.45,RB,...,13.450000,2,8000.0,NO@SEA,NO,SEA,NaN,NaN,NaN,2
4,RB,Dalvin Cook (13362881),Dalvin Cook,13362881.0,RB/FLEX,7800.0,OAK@MIN 09/22/2019 01:00PM ET,MIN,30.05,RB,...,25.799999,2,8300.0,OAK@MIN,MIN,OAK,NaN,NaN,NaN,2

In [22]:
all_pd.columns

Index(['position_dk', 'name_+_id_dk', 'name_dk', 'id_dk', 'roster_position_dk',
       'salary_dk', 'game_info_dk', 'teamabbrev_dk', 'avgpointspergame_dk',
       'position_draft', 'name_draft', 'team_draft', 'game_draft',
       'avg_fppg_draft', 'salary_draft', 'player_id_+_player_name_fd', 'id_fd',
       'position_fd', 'first_name_fd', 'nickname_fd', 'last_name_fd',
       'fppg_fd', 'played_fd', 'salary_fd', 'game_fd', 'team_fd',
       'opponent_fd', 'injury_indicator_fd', 'injury_details_fd', 'tier_fd',
       'week'],
      dtype='object')

In [23]:
all_cut = all_pd[['name_dk', 'position_dk','team_draft', 'opponent_fd','salary_dk', 'salary_draft', 'salary_fd', 'avg_fppg_draft', 'avgpointspergame_dk', 'fppg_fd' ]]
all_cut.head()

,name_dk,position_dk,team_draft,opponent_fd,salary_dk,salary_draft,salary_fd,avg_fppg_draft,avgpointspergame_dk,fppg_fd
0,Saquon Barkley,RB,Giants,TB,9100.0,16700.0,9200.0,23.20,23.20,18.450001
1,Ezekiel Elliott,RB,Cowboys,MIA,8900.0,17100.0,8800.0,18.15,18.15,15.900000
2,Christian McCaffrey,RB,Panthers,ARI,8700.0,16800.0,8900.0,26.60,26.60,22.100000
3,Alvin Kamara,RB,Saints,SEA,8000.0,14900.0,8000.0,15.45,15.45,13.450000
4,Dalvin Cook,RB,Vikings,OAK,7800.0,14600.0,8300.0,30.05,30.05,25.799999

In [22]:
# all_pd.columns = [ str(col) + '_wk2' if 'salary' in col else col for col in all_pd.columns ] #only add wk suffix to salaries
all_cut.columns = [ str(col) + '_wk' + str(current_week) for col in all_cut.columns ]

all_cut.columns

Index(['name_dk_wk2', 'position_dk_wk2', 'team_draft_wk2', 'opponent_fd_wk2',
       'salary_dk_wk2', 'salary_draft_wk2', 'salary_fd_wk2',
       'avg_fppg_draft_wk2', 'avgpointspergame_dk_wk2', 'fppg_fd_wk2'],
      dtype='object')

In [23]:
all_cut.head()

,name_dk_wk2,position_dk_wk2,team_draft_wk2,opponent_fd_wk2,salary_dk_wk2,salary_draft_wk2,salary_fd_wk2,avg_fppg_draft_wk2,avgpointspergame_dk_wk2,fppg_fd_wk2
0,Saquon Barkley,RB,Giants,BUF,9200.0,17000.0,9200.0,25.42,20.9,15.900000
1,Ezekiel Elliott,RB,Cowboys,WAS,8700.0,16600.0,8500.0,23.40,13.3,12.800000
2,Alvin Kamara,RB,Saints,LAR,8200.0,15400.0,8700.0,24.21,23.9,20.400000
3,DeAndre Hopkins,WR,Texans,JAC,8100.0,16100.0,9000.0,22.28,34.1,27.100000
4,Michael Thomas,WR,Saints,LAR,8000.0,15100.0,8500.0,20.59,25.3,17.299999

In [25]:
all_cut['fd-dk_wk2'] = all_cut.salary_fd_wk2 - all_cut.salary_dk_wk2
all_cut['draft-dk_wk2'] = all_cut.salary_draft_wk2 - all_cut.salary_dk_wk2
all_cut['draft-fd_wk2'] = all_cut.salary_draft_wk2 - all_cut.salary_fd_wk2

all_cut.head()

C:\Users\josep\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\josep\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name_dk_wk2,position_dk_wk2,team_draft_wk2,opponent_fd_wk2,salary_dk_wk2,salary_draft_wk2,salary_fd_wk2,avg_fppg_draft_wk2,avgpointspergame_dk_wk2,fppg_fd_wk2,fd-dk_wk2,draft-dk_wk2
0,Saquon Barkley,RB,Giants,BUF,9200.0,17000.0,9200.0,25.42,20.9,15.900000,0.0,7800.0
1,Ezekiel Elliott,RB,Cowboys,WAS,8700.0,16600.0,8500.0,23.40,13.3,12.800000,-200.0,7900.0
2,Alvin Kamara,RB,Saints,LAR,8200.0,15400.0,8700.0,24.21,23.9,20.400000,500.0,7200.0
3,DeAndre Hopkins,WR,Texans,JAC,8100.0,16100.0,9000.0,22.28,34.1,27.100000,900.0,8000.0
4,Michael Thomas,WR,Saints,LAR,8000.0,15100.0,8500.0,20.59,25.3,17.299999,500.0,7100.0

Next steps:
Add flask app (could save this for later)
Save Data to database (could save this step for later)
Decide on format for data in database (one table per week, new columns for each week)
Add html template
Create grid (bootstrap, D3?)